body{
	margin: 0;
	overflow: hidden;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently not supported by any browser */
}
control span, #playlist a{
	cursor: pointer;
}
#playlist a{
	margin: 8px;
	width: 100%;
	position: absolute;
}
#playlist a:hover{
	background: green;
	color: white;
}
.active{
	color: white;
	background: black;
}
#playlist{
	overflow: visible;
	position: absolute;
	border: solid 1px black;
	float: left;
	height: 100%;
	width: 30%;
}
#view{
	left: 30%;
	position: absolute;
	border: solid 1px black;
	float: right;
	height: 100%;
	width: 70%;
}